@media screen and (max-width:1260px){
    .songItem{
        width: 50%;
        margin-left: 5%;

    }

    .songbanner img{
        width: 20vw;
    }

    .cover1{
        width:5%;
        margin: 0 15px;
        border-radius: 30px;
    }
}

@media screen and (max-width:1100px){

    .container{
        display: flex;
        justify-content:space-evenly;
    }
    
    .songItem{
        width: 70%;
        margin-left: 5%;

    }

    .songbanner img{
        width: 20vw;
    
    }

    .cover1{
        width:5%;
        margin: 0 15px;
        border-radius: 30px;
    }
}

@media screen and (max-width:800px){

    .container{
        display: flex;
        justify-content:space-evenly;
    }
    
    .songItem{
        width: 90%;
        margin-left: 5%;

    }

    .songbanner img{
    display: none;
    
    }

    .cover1{
        width:6%;
        margin: 0 15px;
        border-radius: 30px;
    }
    .bottom{
        height: 25vh;
    }

    .songinfo img{
        display: none;
    }

    .songinfo span{
        margin-top: 118px;
        /* margin-left: 40px; */
    }
}

@media screen and (max-width:820px){

    .songbanner img{
        display: none;
        
    }

    .songinfo img{
        display: none;
    }

    .songinfo span{
        /* display: none; */
        margin-top: 118px;
    }

    
}